<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>{{ 'FOOTER.NAME' | translate }}</h3>
        <p>{{ 'FOOTER.DESCRIPTION' | translate }}</p>
      </div>
      <div class="footer-section">
        <h4>{{ 'FOOTER.QUICK_LINKS_TITLE' | translate }}</h4>
        <ul>
          <li *ngFor="let link of quickLinks"><a [href]="link.href">{{ link.label | translate }}</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>{{ 'FOOTER.FOLLOW_ME_TITLE' | translate }}</h4>
        <div class="social-links">
          <a *ngFor="let social of socialLinks" [href]="social.href" class="social-link" [attr.aria-label]="social.label | translate" target="_blank">
            <i [class]="social.icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>{{ 'FOOTER.COPYRIGHT' | translate }}</p>
    </div>
  </div>
</footer>
